/*Estilos da página index.html*/

.center {
    text-align: center;
}

.justify{
    text-align: justify;
}

.container  {
    display: flex;
    flex-flow: row;
    justify-content: center;
    text-align:center ;
    color: #000000;
    letter-spacing: 1px;
    word-spacing: 0.8px;    
}

#menu li {
    display: inline;
    padding: 20px;
}

#menu li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#menu li a:hover {
    color: grey;
}

.p-30 {
    padding: 30px;
}

.br-50 {
    border-radius: 50%;
}

.wh-300{
    width: 300px;
    height: 300px;
}

.tm-social {
    width: 50px;
    height: 50px;
}

.mp-50{
    margin-bottom: 50px;
}

.ml-50 {
    margin-left: 50px;
}

.formacao{
    margin-left: 50px;
    letter-spacing: -0.6px;
    word-spacing: 1.6px;
    padding: 25px 50px;
    border-style: double;
    border: 2px solid  #03010500;;
    border-radius: 4px;
    margin-left: 150px ;
    color:rgb(199, 204, 208)
    }

.resumo{
    
    margin-left: 50px;
    letter-spacing: -0.6px;
    word-spacing: 1.6px;
    padding: 25px 50px;
    border-style: double;
    border: 2px solid  #03010500;;
    border-radius: 4px;
    margin-left: 150px ;
    font-size: 20px;
    color:rgb(199, 204, 208)

}

.sombreado{
    text-shadow: 2px 2px 5px #770dcdce;
    color: rgb(199, 204, 208);
}

#page {
    position: relative;
    min-height: 100vh;
  }
  
  #tamanho {
    padding-bottom: 2.5rem;    /* altura do rodapé */
  }
  
  #pg-final {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* altura do rodapé */
  }
  